<header>
  <div class="jumbotron">
    <h1>The Music Blog</h1>
  </div>
</header>
<div class="container">

{{outlet}}

<hr>
<footer>
  {{#link-to 'index'}}Home{{/link-to}}<br>
  {{#link-to 'about'}}About{{/link-to}}<br>
  {{#link-to 'contact'}}Contact{{/link-to}}<br>
</footer>
</div>
