<div class="container">
  <h2>Contact menu</h2>
  <p>
    You can find me at:
    1234 Blah Ave
    Portland, Mars 98789
  </p>

  <p>
  email me at: martian@yahoo.aol.hotmail.whatever
  </p>
  
</div>
