<ul>
{{#each model as |post|}}

  <li>{{#link-to 'post' post.id}}{{post.title}}{{/link-to}}</li><br>
  <li>{{post.author}}</li><br>
  <li>{{post.body}}</li><br>
{{/each}}
</ul>

{{new-post save2="save3"}}<br>
